footer{
    background-color: #0E2431;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
}

.footer_title{
    font-size: 2rem;
    margin-bottom: 2rem;
}


/** its random i know but this file is the only import across all files too lazy to make a new file  reusebility baby**/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #Fff;
    color: #000;
}