/* DEFAULT SETTINGS */

:root {
    --border: 1px solid #CCC;
}

.bd { border: var(--border); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: black;
}

.main {
    margin-top: 10vh;
    padding: .5rem;
}

.section {
    height: 90vh;
}

.container{
    max-width: 1024px;
    margin: 80px auto;
    border: 1px solid #CCC;
    border-radius: .5rem;
}

.section-title {
    text-align: center;
}

h3, p{
    margin: .2rem;
    padding: .5rem;
}

h1, h2{
    text-align: center;
    margin: .2rem;
    padding: .5rem;
    position: relative;
}

h1::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 4px;
    background-color: goldenrod;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .details-container{
        border-radius: .5rem;
        max-width: 70%;
        display: flex;
        justify-content: space-around;
        margin: 2rem auto;
    }
    .personal, .social{
        margin: 1rem;
        border: none;
    }
    .icons{
        margin-bottom: .5rem;
    }
}

.mh { max-height: 55vh; }

.hero-container {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}

.welcome h2 {
    font-size: 3rem;
    color: #333;
}

.welcome h4 {
    font-style: italic;
    color: #333;
    text-align: center;
    line-height: 1.9rem;
    font-weight: 100;
    margin-top: .8rem;
}

.line {
    color: goldenrod;
    width: 50%;
    margin: .5rem auto;
}

.social {
    display: flex;
}

.icon {
    border: 1px solid #CCC;
    height: 50px;
    border-radius: .3rem;
    width: 50px;
    margin-right: 1rem;
}
/*  HERO SECTION */
@media screen and (max-width: 768px) {
    .hero-container {
        position: relative;
        width: 90vw;
    }

    .hero-img {
        position: absolute;
        opacity: .3;
        margin-top: 8rem;
    }

    .welcome h2 {
        font-size: 2rem;
    }

    .social {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .icon {
        border: 1px solid black;
    }
}